<footer>
  <h1>Lorem</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, labore assumenda! Nihil aut cum iusto ullam eos repellendus quo aliquid corrupti, praesentium voluptate dolore quasi fugit culpa, sed repudiandae ab modi optio perferendis reiciendis voluptatem, ea atque sit voluptatibus. Enim voluptates consectetur placeat tenetur in corporis ullam autem, rerum numquam asperiores assumenda temporibus sint excepturi consequuntur quidem officiis suscipit ducimus dolores possimus! Ad ullam aspernatur reiciendis quisquam nisi voluptatem. Corrupti excepturi nobis ut, eos aperiam accusantium animi, porro optio tempore nisi quo qui sed? Possimus, a quisquam veritatis molestiae hic dignissimos facilis. Officiis sapiente maiores harum vel exercitationem atque non!</p>

</footer>